ul(id='gn-menu' class='gn-menu-main')
    li(class='gn-trigger')
        a(class='gn-icon gn-icon-menu')
            span Menu
        nav(class='gn-menu-wrapper')
            div(class='gn-scroller')
                ul(class='gn-menu')
                    li(class='gn-search-item')
                        input(placeholder='Search' type='search' class='gn-search')
                        a(class='gn-icon gn-icon-search')
                            span Search
                    li
                        a(class='gn-icon gn-icon-download') Downloads
                        ul(class='gn-submenu')
                            li
                                a(class='gn-icon gn-icon-illustrator') Vector Illustrations
                            li
                                a(class='gn-icon gn-icon-photoshop') Photoshop files
                    li
                        a(class='gn-icon gn-icon-archive') Archives
                        ul(class='gn-submenu')
                            li
                                a(class='gn-icon gn-icon-article') Articles
                            li
                                a(class='gn-icon gn-icon-pictures') Images
                            li
                                a(class='gn-icon gn-icon-videos') Videos
                    li
                        a(class='gn-icon gn-icon-cog') Settings
                    li
                        a(class='gn-icon gn-icon-help') Help

    li
        a(href='http://app_passport_mysql.jupiterflow.com/qrcode') qrcode
    li
        a(href='http://app_passport_mysql.jupiterflow.com/qrcode' class='icomoon-icon icomoon-icon-shuffle')
            span Random Demo
    li
        a(href='http://app_passport_mysql.jupiterflow.com/' class='icomoon-icon icomoon-icon-drop')
            span Back to the Demo home